<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>




<body>

    <div class="mainContainer">
        <h1>Now tracking shipment</h1>
        <input id="trackingShipmentInput" name="trackingShipmentInput">
        <div class="container-fluid">
            <div class="row mainDisplayDiv">
                <div class="col-sm-6 leftDiv">
                    <h1>Shipment Temperature</h1>
                    <h1 id="temp"></h1>
                </div>
                <div class="col-sm-6 rightDiv">
                    <h1>Compensation</h1>
                    <h1 id="money"></h1></div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div id="blockChain">
                        <div class="block">
                            <p class="blockText">BH</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>




    <div id="dashboard-wrapper">
        <div id="dashboard" class="showDashboard">

            <div class="container-fluid">
                <div class="centerDiv" style="width: 100%;  text-align: center;">
                    <i class="fa fa-chevron-down fa-3x dashToggle" aria-hidden="true"></i>
                    <i class="fa fa-chevron-up fa-3x dashToggle hidden" aria-hidden="true"></i>
                </div>
                <div class="row mainDisplayDiv ">
                    <!-- <div class="col-sm-12"> -->
                        <div class=" col-sm-6 text-center">
                            <div class="row">
                                <div class="dropdown">
                                    <button class="dropbtn" id="initialButton">Execute Command</button>
                                    <div class="dropdown-content">

                                        <a href="#" id="initShipmentButton">Create Shipment</a>
                                        <a href="#" id="readShipmentButton">Read Shipment</a>
                                        <a href="#" id="setReadingButton">Set Property</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row hidden" id="shipment-info">
                                <input type="text" class="hidden create" id="owner-name" placeholder="Onwer Name" />
                                <input type="text" class="hidden create set read"id="shipment-name" placeholder="Shipment Name" />
                                <input type="text" class="hidden create" id="shipment-lat" placeholder="Shipment Lat" />
                                <input type="text" class="hidden create" id="shipment-lng" placeholder="Shipment Long" />
                                <input type="text" class="hidden create set" id="shipment-temp" placeholder="Shipment Temp" />
                                <button id='createShipment' class="light-button"></button>
                            </div>

                        </div>
                        <div class="col-sm-6 rightDiv centerDiv">
                            <div>
                                <h1 class=" light-text ">Response</h1>
                                <pre id="response-main" class="scrollable "></pre>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>

            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
        <script type="text/javascript " src="js/main.js "></script>
</body>

</html>
