<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>




<body>

<div class="mainContainer">
<h1>Now tracking shipment</h1>
<input type="trackingShipmentInput" name="trackingShipmentInput">

<div class="container-fluid">
  <div class="row mainDisplayDiv">
  <h1>Shipment T</h1>
    <div class="col-sm-6" id="tempDiv">25</div>
    <div class="col-sm-6" id="moneyDiv">$ 320</div>
  </div>
</div>

    <div id="blockChain">
        <div class="block">
            <p class="blockText">BH</p>
        </div>
        <div class="block">
            <p class="blockText">BH</p>
        </div>
        <div class="block">
            <p class="blockText">BH</p>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
