<html>

<head>
    <title>WS example</title>
</head>

<body>
    <h2>Socket message response: </h2>
    <pre id="response"></pre>
    <hr/>
    <h2>POST message response: </h2>
    <pre id="post-response"></pre>
    <div class="response">

    </div>
    <button id="registrarButton" type="button">registrar</button>
    <button id="deployChaincodeButton" type="button">deployChaincode</button>
    <button id="initShipmentButton" type="button">initShipment</button>
    <button id="readShipmentButton" type="button">readShipment</button>
    <button id="setReadingButton" type="button">setReading</button>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
