<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../images/favicon.png">

    <title>Emotio App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">



</head>

<body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Shipchain - A Blockchain App</h1>
            <p class="description-3" style="font-size: 1.15rem;">Our interactive demo tracks the temperature reading of the shipment package as it moves along the supply chain. It shows how smart contracts combined with IOT data can be used to track, secure and share transactions among all partners on the
                blockchain.
            </p>
            <p class="description-3" style="font-size: 1rem;">Imagine ordering a temperature sensitive shipment (like icecream) from a warehouse. If the temperature of the shipment goes over 25° C, it will be ruined. We attach a temperature sensor onto the package that records and logs the temperature
                on the IBM Blockchain network. If at any point there is a violation of the smart contract (temperature goes over 25° C), compensation is provided in real time. The IOT transactions are visible to all the parties involved.
            </p>

            <button onclick="location.href='https://www.ibm.com/watson/developercloud/visual-recognition.html'" class="dark-button">Learn More</button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="">
                <a href="/app"> <button class="dark-button giant-size">Get Started<i class="fa fa-chevron-right" aria-hidden="true"></i></button></a>
            </div>
        </div>
    </div>
    <p class="tag">Made with <i class="fa fa-heart" style="color:#fdd600" aria-hidden="true"></i> by <a style="padding-left:0px;" href="http://www.github.com/bdcorps">Sukhpal Saini and Min Lee</a></p>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
